/*-- scss:defaults --*/

// Colors
$cream: #F4F3EE;
$darkgreen: #0d5c63;
$lavender: #f7f3f5;
$lightgreen: #eef6f4;

// Base document colors
$navbar-hl: $darkgreen; // navbar link highlight color
$body-color: $darkgreen; // page text color
$body-bg: $lavender; // page background color

/*-- scss:rules --*/
.card-body {
  background-color: $cream;
}
